<body class="body">
    <h1 class="title">Cadastro de Clientes</h1>
    <section *ngIf="displayPrincipal" class="container box">
        <section style="width: min-content;" [formGroup]="form">
            <p *ngIf="displayCli">Cliente adicionado</p>
            <input (click)="esconderPmsg()" id="inputNome" formControlName="nome" required class="inputs input buttonAdd" type="text" placeholder="Digite o nome...">
            <button (click)="dadosCli()" class="buttonAdd button submit">Adicionar Cliente</button>
            <p *ngIf="form.controls.nome.invalid && (form.controls.nome.dirty && form.controls.nome.touched)">Nome é obrigatorio</p>
            <p *ngIf="nomeIgual">Este cliente ja existe!</p>
            <button (click)="escoderFuncioAdd()" class="exibirClientes button is-warning is-light">visualizar clientes</button>
        </section>
    </section>
    <section class="container box" *ngIf="!displayPrincipal">
        <section class="clientes box" id="table">
            <tr>
                <td>Id Cliente</td>
                <td>Nomes</td>
            </tr>
        </section>
        <button (click)="escoderFuncioAdd()" class="buttonC button submit">adicionar Cliente</button>
    </section>
    <div class="side_bar">
        <button><img [routerLink]="['/home']" style="width: 32px;" src="../../../../assets/img/voltar.png" alt="voltar img"></button>
        <button [routerLink]="['/home/lancarC']" class="button is-white">LANÇAR COMANDAS</button>
        <button [routerLink]="['/home/cadastroFun']"class="button is-white">CADASTRO DE FUNCIONÁRIOS</button>
        <button [routerLink]="['/home/tiposPagamento']"class="button is-white">TIPOS DE PAGAMENTO</button>
        <button [routerLink]="['/home/cadastroServ']"class="button is-white">CADASTRO DE SERVIÇOS</button>
        <button [routerLink]="['/home/contasPagar']"class="button is-white">CONTAS A PAGAR</button>
    </div>

</body>