.body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(137, 161, 181, 0.251);
}
h1{
    border-bottom: 2px solid;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: aqua;
    width: 300px;
    height: 300px;
    border: 2px solid;
    align-items: center;
}
.buttonAdd{
    width: 200px;
    margin-bottom: 8px;
    border-radius: 10px;
}
.inputs{
    background-color: rgba(137, 161, 181, 0.251);
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 15px;
}
button{
    height: 20px;
    background-color: rgba(137, 161, 181, 0.251);
    font-size: 15px;
    border: 1px solid;
    cursor: pointer;
}
.exibirClientes{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    margin-bottom: 5px;
    cursor: pointer;
}
.clientes{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    // background-color: aqua;
    border: 2px solid;
    box-sizing: content-box;
    max-height: max-content;
    overflow-y: scroll;
}
.buttonC{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: -50px;
    cursor: pointer;
}
tr{
    height: 25px;
    width: 100%;
    display: flex;
    vertical-align: middle;
}
td{
    vertical-align: middle;
    border: 1px solid black;
    text-align: center;
    width: 50%;
}