.body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(137, 161, 181, 0.251);
}
h1{
    border-bottom: 2px solid;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: aqua;
    width: 300px;
    height: 300px;
    border: 2px solid;
    align-items: center;
}
.exibirContas{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    margin-bottom: 5px;
    cursor: pointer;
}
.contas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    // background-color: aqua;
    border: 2px solid;
    box-sizing: content-box;
    max-height: max-content;
    overflow-y: auto;
}
.inputContas{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px pink;
}
.buttonConta{
    position: absolute;
    font-size: 18px;
    bottom: 0;
    border: 1px solid pink;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.buttonC{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    margin-bottom: 5px;
    cursor: pointer;
    height: 20px;
    width: 120px;
    background-color: rgba(137, 161, 181, 0.251);
    font-size: 15px;
    border: 1px solid;
}
tr{
    height: 25px;
    width: 100%;
    display: flex;
    vertical-align: middle;
}
td{
    font-size: 11px;
    display: flex;
    border: 1px solid black;
    width: 25%;
    align-items: center;
    justify-content: center;
}