<body class="body">
    <h1>Contas a pagar</h1>
    <section *ngIf="displayPrincipal" class="container">
        <section class="contas" id="table">
            <tr>
                <td>Beneficiario</td>
                <td>Valor</td>
                <td>Vencimento</td>
                <td>Pago</td>
            </tr>
        </section>
    </section>
    <button (click)="escoderAddContas()" class="buttonC">{{msgButton}}</button>
    <section class="container" [formGroup]="form" *ngIf="!displayPrincipal">
        <label>Beneficiario</label>
        <input formControlName="beneficiario" class="inputContas" type="text">
        <label>Valor R$</label>
        <input formControlName="valor" class="inputContas" type="number">
        <label>Data de vencimento</label>
        <input formControlName="data" class="inputContas" type="date">
        <button *ngIf="form.controls.beneficiario.valid && form.controls.valor.valid && form.controls.data.valid" class="buttonConta" (click)="formC()">Adicionar Conta</button>
    </section>
</body>
