<div class="body">
    <section class="login">
        <h1>Salão Vânia Fernandes</h1>
        <div class="divisor">
            <p>usuario</p>
            <input class="inputs" [(ngModel)]="us" (keyup.enter)="alterFocus()">
        </div>
        <div class="divisor">
            <p>senha</p>
            <input class="inputs" [(ngModel)]="se" type="password" (keyup.enter)="alterFocus()">
            <button [ngStyle]="{'display': msgError ? 'none' : 'block'}" class="msgError">usuario ou senha incorretos</button>
        </div>
        <button class="button" (click)="checkLogin(us, se)" (keyup.enter)="alterFocus()">Login</button>
    </section>
    <section class="sideBar">
        <a href="https://instagram.com/salao.vaniafernandes?igshid=MTNiYzNiMzkwZA==">Instagram</a>
        <h2>(92) 991296351</h2>
        <p class="p">{{data | date : 'dd/MM/yyyy'}}</p>
    </section>
</div>