:host{
    .body{
        background-color: aqua;
        width: 100vw;
        height: 100vh;
        background-image: url('../../../assets/img/Salão\ Vânia\ Fernandes.png');
        background-repeat: no-repeat;
        background: center;
    }
}