@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
*{
    font-family: sans-serif;
}
.body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(137, 161, 181, 0.251);
}
.inputs{
    background-color: rgba(137, 161, 181, 0.251);
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 15px;
}
h1{
    border-bottom: 2px solid;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: aqua;
    width: 300px;
    height: 300px;
    border: 2px solid;
    align-items: center;
}
.content{
    width: 200px;
    margin-bottom: 8px;
    // border-radius: 10px;
}
.datalist{
    border: 1px rgb(99, 99, 255) solid;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 15px;
}
// button{
//     height: 20px;
//     background-color: rgba(137, 161, 181, 0.251);
//     font-size: 15px;
//     border: 1px solid;
//     cursor: pointer;
// }
.msgError{
    color: red;
}
form{
    width: min-content;
}
.exibirFuncionarios{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    cursor: pointer;
}
// .buttonF{
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translate(-50%);
//     margin-bottom: -50px;
//     cursor: pointer;
// }
.funcionarios{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    // background-color: aqua;
    border: 2px solid;
    overflow-y: scroll;
}
tr{
    height: 25px;
    width: 100%;
    display: flex;
    vertical-align: middle;
}
td{
    vertical-align: middle;
    border: 1px solid black;
    text-align: center;
    width: 33.3%;
}
.displayButton{
    position: absolute;
    left: 50%;
    bottom: -33%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    cursor: pointer;

}
.side_bar{
    padding-left: 1%;
    padding-right: 1%;
    background-color: none;
    position: absolute;
    display: flex;
    top: 50%;
    transform: translate(0, -50%);
    height: 93%;
    width: 24%;
    // background-color: red;
    border-right: 2px solid grey;
    flex-direction: column;
    justify-content: space-around;
}