<div class="body">
  <h1 class="title">Cadastro de Funcionarios</h1>
  <section *ngIf="displayPrincipal" class="box container">
        <p *ngIf="funcioMsg">Funcionario {{funcio}} cadastrado</p>
        <form [formGroup]="form">
        <input formControlName="nome" required id="input1" placeholder="Inserir nome..." (keyup.enter)="alterFocus()" (click)="zerar()" class="inputs content input" type="text">
        <input formControlName="profissao" required id="input2" placeholder="Inserir profissao..." (keyup.enter)="alterFocus()" (click)="zerar1()" type="text" class="content input" list="lista-p">
        <datalist id="lista-p">
            <option value="cabeleireira">cabeleireira</option>
            <option value="manicure">manicure</option>
            <option value="esteticista">esteticista</option>
            <option value="caixa">caixa</option>
        </datalist>
        <input formControlName="sexo" required id="input3" placeholder="Inserir sexo..." maxlength="1" (keyup.enter)="alterFocus()" (click)="zerar2()" class="content input" list="lista-s" type="text">
        <datalist id="lista-s">
            <option value="f">feminino</option>
            <option value="m">masculino</option>
        </datalist>
        <button class="button content">Adicionar Funcionario</button>
        </form>
        <p class="msgError" *ngIf="msgError">A funcionaria {{funcRepetido}} ja esta cadastrada</p>
          <button (click)="escoderFuncioAdd()" class="exibirFuncionarios button">visualizar funcionarios</button>
        </section>
        <section class="container" *ngIf="!displayPrincipal">
          <section class="funcionarios" id="table">
            <tr>
              <td>Nome</td>
              <td>Profissão</td>
              <td>Sexo</td>
            </tr>
          </section>
          <button (click)="escoderFuncioAdd()" class="buttonF button">adicionar Funcionario</button>
        </section>
</div>