*{
    font-family: sans-serif;
}
.body{
    width: 100vw;
    height: 100vh;
    background-color: #E4E0EA;
}
.marginB{
    margin-bottom: 10px;
}
.conteudoH{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
    height: 80%;
    bottom: 0;
    // border: 1px solid red;
}
h1{
    margin-top: 70px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 50px;
    border-bottom: 2px solid black;
}
.buttonH{
    background-color: white;
    border: 2px solid;
    width: 140px;
    height: 70px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.7s;
}
.buttonH:hover{
    background-color: rgb(255, 211, 211);
}