<div class="body">
    <h1 class="title has-text-centered" id="h1" (mousemove)="estiloh1()">Salão Vânia Fernandes</h1>
    <section class="conteudoH">
        <button [routerLink]="['/home/lancarC']" class="buttonH marginB">LANÇAR COMANDAS</button>
        <button [routerLink]="['/home/cadastroCli']"class="buttonH marginB">CADASTRO DE CLIENTES</button>
        <button [routerLink]="['/home/cadastroFun']"class="buttonH marginB">CADASTRO DE FUNCIONÁRIOS</button>
        <button [routerLink]="['/home/tiposPagamento']"class="buttonH">TIPOS DE PAGAMENTO</button>
        <button [routerLink]="['/home/cadastroServ']"class="buttonH">CADASTRO DE SERVIÇOS</button>
        <button [routerLink]="['/home/contasPagar']"class="buttonH">CONTAS A PAGAR</button>
    </section>
</div>