<body id="body">
<div class="body">
    <div class="div_superior box">
        <div class="div_span">
            <span>Localizar comanda <input class="input_superio input is-small" type="number"></span>
            <span><button class="button is-small">vendas funcionarios</button></span>
            <span><button class="button is-small">vendas resumo</button></span>
            <span><button class="button is-small">alterar registro</button><input class="input_superio input is-small" type="number"></span>
        </div>
        <div class="div_data">
            <span>DATA <input type="date"></span>
            <div>
                <span>
                    nr_comanda <input class="input_superio input is-small" type="number">
                </span>
            </div>
        </div>
    </div>
</div>
<div id="div_inferior">
    <div class="box" id="div_comandas">
        <tr class="navtr">
            <td class="navtd">cliente</td>
            <td class="navtd">serviço</td>
            <td class="navtd">valor serviço</td>
            <td class="navtd">forma pagamento</td>
            <td class="navtd">funcionario</td>
        </tr>
        <section id="table">
            <tr class="tr">
                <td class="td"><input class="input is-small" type="text" list="lista_clientes"></td>
                <td class="td"><input class="input is-small" type="text" list="lista_clientes"></td>
                <td class="td"><input class="input is-small" type="text"></td>
                <td class="td"><input class="input is-small" type="text" list="lista_clientes"></td>
                <td class="td"><input class="input is-small" type="text" list="lista_clientes"></td>
                <button><img style="width: 30px;" src="../../../../assets/img/plus-btn.jpg" alt=""></button>
            </tr>
        </section>
        <div class="total input">
            Total:
        </div>
    </div>
</div>
</body>
<datalist id="lista_clientes">
</datalist>