<div class="body">
    <h1 class="title">Cadastro de Serviços</h1>
    <section *ngIf="displayPrincipal" [formGroup]="form" class="container box">
        <p *ngIf="msgAdd" style="color: rgb(30, 138, 61);">Serviço adicionado</p>
        <label class="subtitle">Nome do Serviço</label>
        <input placeholder="Digite o nome..." formControlName="servico" class="inputServiço input" type="text">
        <label class="subtitle">Comissão %</label>
        <input placeholder="Digite a comissão..." formControlName="comissao" class="inputServiço input" type="number">
        <button (click)="addServico()" *ngIf="form.controls.servico.valid && form.controls.comissao.valid" class="inputServiço button">Adicionar Serviço</button>
        <p *ngIf="form.controls.comissao.invalid && (form.controls.comissao.dirty && form.controls.comissao.touched)">Serviço e comissao são obrigatorios</p>
        <p *ngIf="nomeIgual" style="color: red;">Este serviço ja existe</p>
    </section>
    <section *ngIf="!displayPrincipal" class="container box">
        <section class="servicos box" id="table">
            <tr>
                <td>serviço</td>
                <td>comissão</td>
            </tr>
        </section>
    </section>
    <button (click)="alterarDisplay()" class="displayButton button">{{msgDisplayButton}}</button>
</div>
