@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
.body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(137, 161, 181, 0.251);
}
h1{
    border-bottom: 2px solid;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: aqua;
    width: 300px;
    height: 300px;
    border: 2px solid;
    align-items: center;
}
.inputServiço{
    font-size: 18px;
    margin-top: 3%;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
.displayButton{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    cursor: pointer;

}
.servicos{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    // background-color: aqua;
    border: 2px solid;
    box-sizing: content-box;
    max-height: max-content;
    overflow-y: scroll;
}
tr{
    height: 25px;
    width: 100%;
    display: flex;
    vertical-align: middle;
}
td{
    vertical-align: middle;
    border: 1px solid black;
    text-align: center;
    width: 50%;
}
.side_bar{
    padding-left: 1%;
    padding-right: 1%;
    background-color: none;
    position: absolute;
    display: flex;
    top: 50%;
    transform: translate(0, -50%);
    height: 93%;
    width: 24%;
    // background-color: red;
    border-right: 2px solid grey;
    flex-direction: column;
    justify-content: space-around;
}