<div class="body">
    <h1>Cadastro de Serviços</h1>
    <section [formGroup]="form" class="container">
        <label>Nome Serviço</label>
        <input formControlName="servico" class="inputServiço" type="text">
        <label>Comissão %</label>
        <input formControlName="comissao" class="inputServiço" type="number">
        <button (click)="addServico()" *ngIf="form.controls.servico.valid && form.controls.comissao.valid" class="inputServiço">Adicionar Serviço</button>
        <p *ngIf="form.controls.comissao.invalid && (form.controls.comissao.dirty && form.controls.comissao.touched)">Serviço e comissao são obrigatorios</p>
    </section>
</div>
